<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title ng-bind="pageTitle"></title>
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body   ng-app="ngApp">

<div class="container"  ng-controller="home">

    <div class="container" ui-view="main">

        {{item}}


    </div>

</div>


<script src="lib/angular.js" type="text/javascript"></script>
<script src="lib/angular-resource.js" type="text/javascript"></script>
<script src="lib/ui-router.js" type="text/javascript"></script>
<script src="home/home.js" type="text/javascript"></script>
<script src="account/account.js" type="text/javascript"></script>
<script src="app.js"></script>
</body>
</html>
