<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registration</h3>
                </div>
                <div class="panel-body">
                    <form ng-submit="register()" accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input ng-model="account.name"  class="form-control" placeholder="Name" name="name" type="text">
                            </div>
                            <div class="form-group">
                                <input ng-model="account.email" class="form-control" placeholder="E-mail" name="email" type="text">
                            </div>
                            <div class="form-group">
                                <input ng-model="account.password" class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <!--<div class="checkbox">-->
                                <!--<label>-->
                                    <!--<input name="remember" type="checkbox" value="Remember Me"> Remember Me-->
                                <!--</label>-->
                            <!--</div>-->
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>