<h1>Soma</h1>

<div class="btn-group" role="group" aria-label="...">
    <a ui-sref="login"  ng-hide="isLoggedIn()" class="btn btn-default">Login</a>
    <a ui-sref="register" class="btn btn-default">Register</a>
    <a href="#" ng-click="logout()" ng-show="isLoggedIn()" class="btn btn-default">Logout</a>
</div>